@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700');

html, body{
  width: 100%;
  height: 100%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clearfix */
.clearfix{ clear: both; }

/* Wrappers */
.wrapper, .wide-wrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.wrapper{ max-width: 960px; }
.wide-wrapper{ max-width: 1200px; }

/* Stiles  */
.big-title, .title, .small-title, .paragraph, .small-paragraph, .nav, *{
  font-family: 'Open Sans', sans-serif;
}
.big-title{
  font-size: 64px;
  font-size: 4rem;
  letter-spacing: 1px;
}
.title{
  font-size: 35px;
  font-size: 2.4rem;
  letter-spacing: 1px;
}
.small-title{
  font-size: 25px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.paragraph{
  width: 100%;
  font-size: 20px;
  font-size: 1.3rem;
  font-weight: 100;
  color: #747474;
}
.small-paragraph{
  width: 100%;
  font-size: 15px;
  font-size: 0.9rem;
  font-weight: 100;
  color: #747474;
  list-style: circle;
}
.small-paragraph li{
  padding: 5px 0;
  padding: 0.3rem 0;
}
/* Text */
.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right;}

/* Links */
  /* menu */
  .menu a:link{
    color: #444444;
    text-decoration: none;
  }
    .menu a:visited{ color: #444444; }
    .menu a:hover,
    .menu a:focus{ color: #00A99D; }
    .menu a:active{ color: #444444; }

/* Global */
.btn{
  padding: 10px 16px;
  font-size: 16px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  background: #00A99D;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
  .btn:visited{ background: #00A99D; }
  .btn:hover{ background: #009b8e; }
  .btn:active{ background: #009b8e; }


/* Navigation Menu */
.nav{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  height: 5rem;
  background: white;
  overflow: visible;
}
  /* Navigation Menu Button */
  .hamburger{
    z-index: 101;
    position: fixed;
    display: none;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: white;
    cursor: pointer;
  }
    .hamburger span, .hamburger span::before, .hamburger span::after{
      position: absolute;
      width: 1.8rem;
      height: 2px;
      background: #333;
      transition: 0.2s all ease;
    }
    .hamburger span{
      top: 1.5rem;
      left: 0.6rem;
    }
      .hamburger span::before, .hamburger span::after{
        content: "";
        display: block;
      }
      .hamburger span::before{ top: -0.5rem; }
      .hamburger span::after{ top: 0.5rem; }
      .nav.active .hamburger span{ background: white; }
      .nav.active .hamburger span::before{ transform: rotate(-45deg); top: 0; }
      .nav.active .hamburger span::after{ transform: rotate(45deg); top: 0; }
  /* Navigation Logo */
  .nav-logo{
    position: relative;
    float: left;

    top: 12px;
    left: 16px;
    width: 55px;
    height: 55px;

    top: 0.7rem;
    left: 1rem;
    width: 3.4rem;
    height: 3.4rem;
  }
  /* Navigation Links */
  .menu{
    z-index: 101;
    position: absolute;
    right: 0;
    margin: 29px 48px 0 48px;
    margin: 1.8rem 3rem 0 3rem;
    padding: 0;
    height: 100%;
  }
  .menu li{
    display: inline;
    font-size: 16px;
    margin: 0 16px;
    font-size: 1rem;
    margin: 0 1rem;
  }


/* Basic Flex */
.flex{
  display: flex;
  display: -ms-flexbox;
}

/* Section base */
.section{
  padding: 0 48px;
  padding: 0 3rem;
}

/* Main Section */
main{ margin-top: 80px; margin-top: 5rem; }

/* Section Home */
.section-home{
  width: 100%;
  padding: 250px 0;
  margin-top: 80px;
  padding: 15rem 0;
  margin-top: 5rem;

  justify-content:  space-around;
  align-items: center;
  flex-wrap: wrap;

  background: #00A99D;
  background-image: url("./img/hero-img/leaves2_s.jpg");
  background-size: cover;
  background-position: center;
}
  .start-wrap{ width: 100%; }
  .start-title, .slogan{
    width: 100%;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(87, 87, 87, 1);
  }
  .start-title{
    font-size: 85px;
    font-size: 5.2rem;
    font-weight: bold;
  }
  .slogan{
    font-size: 35px;
    font-size: 2.2rem;
    font-weight: 100;
  }

/* About Section */
.section-about{ padding: 136px 48px; padding: 8.5rem 3rem; }

/* Themes Section */
.section-theme{
  padding: 0 0 135px 0;
  padding: 0 0 8.5rem 0;
}
  .themes-title{
    padding: 0 0 80px 0;
    padding: 0 0 5rem 0;
  }
  /* Each Theme */
  .theme-section{
    padding: 0 48px 48px 48px;
    padding: 0 3rem 3rem 3rem;
    flex-direction: row;
  }
    /* Use reverse the position of the theme elements */
    .theme-section.reverse{
      flex-direction: row-reverse;
      text-align: right;
    }
    .theme-img{ float: left; max-width: 35%; flex: 0 1 35%; }
      .theme-img img{ width: 100%; }
    .theme-text{
      float: left;
      max-width: 65%;
      flex: 0 1 65%;
      align-items: center;
    }
    .theme-text-position{
      padding: 3.75rem;
      width: 100%; /* IE 9 fallback */
    }
      .theme-text-position .title{ padding: 0 0 24px 0; padding: 0 0 1.5rem 0; }


/* Section Divider */
.section-divider{
  width: 100%;
  height: 400px;
  height: 25vh;
  background: #00A99D;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("./img/hero-img/leaves_s.jpg");
}

/* Section Pricing */
.section-price{ padding: 160px 0px; padding: 10rem 0rem; }
  .price-header{ width: 100%; }
  .price-header .big-title{
    padding: 0;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
  }
  .price-wrap{
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    padding: 64px 0;
  }
    .price-box{
      max-width: 30%;
      float: left;
      margin: 16px 16px;
      padding: 32px 35px 32px 35px;
      border-radius: 8px;

      flex: 1 1 33%;
      margin: 5rem 1rem;
      padding: 2rem 2.2rem 2rem 2.2rem;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      transition: all 0.2s ease;
      flex-wrap: wrap;
      align-items: flex-start;
      background: white;
    }
    .price-box:nth-child(1){ order: 1; }
    .price-box:nth-child(2){ order: 3; }
    .price-box:nth-child(3){ order: 2; transform: scale(1.1); }
    .price-box:hover{ box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    .price-box .small-paragraph{
      padding: 8px 0 16px 0;
      padding: 0.5rem 0 1rem 0;
    }
    .button-price{
      align-self: flex-end;
      width: 100%;
    }

/* Section Contact */
.section-contact{
  padding: 55px 16px;
  padding: 3.5rem 1rem;
  width: 100%;
  background: #009b8e;
  background: linear-gradient(to bottom, #00a99d 0%,#009b8e 100%);
  box-sizing: border-box;
}
  .contact-head .small-title,
  .contact-head .title,
  .contact-head .big-title{ margin: 32px 0 0 0; margin: 2rem 0 0 0; color: white; }
  .contact-body{
    width: 100%;
    margin: 55px 0 0 0;
    margin: 3.5rem 0 0 0;
    background: #009b8e;
    flex-direction: row;
  }
    .contact-s1{
      float: left;
      width: 65%;
      padding: 25px;
      flex: 1 1 65%;
      -ms-flex: 1 1 65%;
      padding: 1.6rem;
      background: white;
    }
    /* Contact Form */
      .contact-form .fifty,
      .contact-form .fifty2{
        width: 50%;
        float: left;
      }
      .contact-form .fifty{ padding: 0 0 8px 0; padding: 0 0 0.5rem 0; }
      .contact-form .fifty2{ padding: 0 0 0 8px; padding: 0 0 0 0.5rem; }
      .contact-form .input,
      .contact-form .textarea{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 8px;
        font-size: 16px;
        padding: 0.5rem;
        box-sizing: border-box;
        border: 1px solid white;
        font-size: 1rem;
        border-bottom: 1px solid #565656;
      }
      .contact-form .input{ margin-bottom: 1rem; }
      .contact-form .textarea{
        height: 80px;
        min-height: 48px;
        height: 5rem;
        min-height: 3rem;
      }
      .contact-form .submit{
        position: relative;
        margin: 8px;
        margin: 0.5rem;
      }
    .contact-s2{
      float: left;
      width: 35%;
      flex: 1 1 35%;
      -ms-flex: 1 1 35%;
      padding: 25px;
      padding: 1.6rem;
      background: #079188;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }
    .contact-info{ color: white; }
      .contact-info .small-title{ padding-bottom: 20px; }
      .contact-info p{
        font-size: 15px;
        padding: 0 43px;
        margin: 0rem 0rem;
        margin: 0rem 0rem;
        font-size: 0.97rem;
        padding: 0 2.7rem;
      }
      .icon-home::before,
      .icon-phone::before{
        content: "";
        position: relative;
        top: 1.8rem;
        left: -2.6rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background-position: center;
        background-size: cover;
      }
      .icon-home::before{ background-image: url("./img/contact/home.png"); }
      .icon-phone::before{ background-image: url("./img/contact/phone.png"); }
      .contact-icons{ padding-top: 20px; min-height: 35px; }
      .contact-icons img{
        margin-top: 7px;
        width: 24px;
        width: 1.5rem;
        margin-right: 16px;
        margin-right: 1rem;
        float: left;
      }
      .contact-icons p{
        color: rgba(255, 255, 255, 0.7);
        float: left;
        font-size: 13px;
        letter-spacing: 1px;
      }

/* Section footer */
.footer{ background: #009B8E; }
  .footer .wrapper{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3rem 3rem;
    padding: 48px 48px;
    box-sizing: border-box;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
  }
    .footer-logo{ height: 75px; }
    .footer-links li{
      display: inline;
      padding: 0 16px;
      padding: 0 1rem;
    }
      .footer-links li a:link{
        color: white;
        text-decoration: none;
      }
      .footer-links li a:visited,
      .footer-links li a:focus{ color: white; }
      .footer-links li a:hover{ color: #565656; }
      .footer-links li a:active{ color: white; }

@media screen and (max-width:1000px){

  /* Themes */
  .theme-section{ flex-wrap: wrap; padding: 0; }
  .theme-section.reverse{ text-align: right; }
  .theme-img, .theme-text{ flex: 0 1 50%; -ms-flex: 0 1 50%; }
  .theme-text { align-items: center; }
  .theme-text-position{ padding: 0rem 2rem; }

  /* Price */
  .price-box:nth-child(1){ order: 1; }
  .price-box:nth-child(2){ order: 2; }
  .price-box:nth-child(3){ order: 3; transform: scale(1.0); }
}
@media screen and (max-width:768px){

  /* Nav */
  .hamburger{ display: block; }
  .nav .menu{
    position: fixed;
    top: 5rem;
    left: 100%;
    margin: 0;
    width: 100%;
    height: calc(100% - 5rem);
    background: white;
    transition: 0.2s all ease;
  }
  .nav.active .menu{ left: 0; }
  .nav .menu li{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
  }

  /* Start */
  .start-title { font-size: 3.2rem; padding: 1rem; box-sizing: border-box;}
  .slogan { font-size: 1.5rem; padding: 1rem; }

  /* Themes */
  .theme-section{ flex-wrap: wrap; padding: 3rem 1rem; }
  .theme-text { max-width: 100%; width: 100%; align-items: center; padding: 3rem 0 0 0; }
  .theme-text-position{ padding: 0rem; }
  .theme-img{ max-width: 100%; width: 100%; }
  .theme-img, .theme-text{ flex: 0 1 100%; -ms-flex: 0 1 100%; }

  /* Price */
  .section-price{ flex-wrap: wrap; }
  .price-wrap{ flex-wrap: wrap; margin: 5rem 0rem; }
  .theme-section.reverse{ text-align: left; }
  .section-price article{ flex: 0 0 270px; margin: 1rem 1rem; }
  .price-box:nth-child(1){ order: 1; }
  .price-box:nth-child(2){ order: 2; }
  .price-box:nth-child(3){ order: 3; transform: scale(1.0); }

  /* Divider */
  .section-divider{ background-attachment: scroll; }

  /* Contact */
  .contact-body{ flex-wrap: wrap; }
  .contact-s1, .contact-s2{ flex: 1 1 100%; }
  .contact-info .small-title { padding-bottom: 0; }
  .contact-icons{ margin-top: 2rem; }

}
/* ie 10+ fallback */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   .section-divider{
     background-attachment: scroll !important;
   }
}



@supports (display: flex) {
  .price-box{ max-width: 290px;  float: none; }

}
