@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700');

body, html{
  font-family: 'Open Sans', sans-serif;
  background: rgb(249, 249, 249);
  margin: 0;
  padding: 0;
}

/* Links */
  /* menu */
  .menu a:link{
    color: #444444;
    text-decoration: none;
  }
    .menu a:visited{ color: #444444; }
    .menu a:hover,
    .menu a:focus{ color: #00A99D; }
    .menu a:active{ color: #444444; }
  /* Footer */
  .footer-links li{
    display: inline;
    padding: 0 1rem;
  }
    .footer-links li a:link{
      color: white;
      text-decoration: none;
    }
    .footer-links li a:visited,
    .footer-links li a:focus{ color: white; }
    .footer-links li a:hover{ color: #565656; }
    .footer-links li a:active{ color: white; }


  /* Clearfix */
  .clearfix{ clear: both; }
  /* Center content */
  .wrapper, .wide-wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper{ max-width: 960px; }
  .wide-wrapper{ max-width: 1200px; }
  /* Default text styles */
  .big-title{
    font-size: 4rem;
    padding: 0px 0 5.6rem 0;
  }
  .title{
    font-size: 2.4rem;
    letter-spacing: 1px;
  }
  .small-title{
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .paragraph{
    font-size: 1.3rem;
    font-weight: 100;
    color: #747474;
  }
  .small-paragraph{
    margin: 0;
    padding: 1.2rem 1rem 2rem 1rem;
    font-size: 0.9rem;
    font-weight: 100;
    color: #747474;
    list-style: circle;
  }
    .small-paragraph li{ padding: 0.3rem 0; }
  .center{ text-align: center; }
  .left{ text-align: left; }
  .right{ text-align: right;}

  .btn{
    padding: 0.6rem 1rem;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    background: #00A99D;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
    .btn:visited{ background: #00A99D; }
    .btn:hover{ background: #009b8e; }
    .btn:active{ background: #009b8e; }



/* Navigation menu */
.nav{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: white;
  overflow: visible;
}
  .ham{
    z-index: 101;
    position: fixed;
    display: none;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: white;
    cursor: pointer;
  }
    .ham span{
      position: absolute;
      top: 1.5rem;
      left: 0.6rem;
      width: 1.8rem;
      height: 2px;
      background: #333;
      transition: 0.2s all ease;
    }
      .ham span::before, .ham span::after{
        content: "";
        display: block;
        position: absolute;
        width: 1.8rem;
        height: 2px;
        background: #333;
        transition: 0.2s all ease;
      }
      .ham span::before{ top: -0.5rem; }
      .ham span::after{ top: 0.5rem; }
      .nav.active .ham span{ background: transparent; }
      .nav.active .ham span::before{ transform: rotate(-45deg); top: 0; }
      .nav.active .ham span::after{ transform: rotate(45deg); top: 0; }
  .nav-logo-svg{
    position: relative;
    float: left;
    top: 0.7rem;
    left: 1rem;
    width: 2.4rem;
    height: 3.4rem;
  }
  .nav .menu{
    z-index: 101;
    position: absolute;
    right: 0;
    margin: 1.8rem 3rem 0 3rem;
    padding: 0;
    height: 100%;
  }
  .nav .menu li{
    display: inline;
    font-size: 1rem;
    margin: 0 1rem;
  }


/* Section divider */
.section-divider{
  z-index: 1; /* This will fix the jumping glitch in IE11 */
  width: 100%;
  min-height: 20rem;
  height: 25vh;
  background: #00A99D;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("./img/hero-img/leaves_s.jpg");
}


/* Seaction  start */
.section-start{
  width: 100%;
  min-height: 25rem;
  height: 70vh;
  padding-top: 5rem;
  display: flex;
  display: -ms-flexbox;
  justify-content:  space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #00A99D;
  background-image: url("./img/hero-img/leaves2_s.jpg");
  background-size: cover;
  background-position: center;
}
  .start-title, .slogan{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(87, 87, 87, 1);
  }
  .start-title{
    font-size: 5.2rem;
    font-weight: bold;
  }
  .slogan{
    font-size: 2.2rem;
    font-weight: 100;
    box-sizing: border-box;
  }


/* Section  About */
.section-about{ padding: 8.5rem 1rem; }


/* Section Theme */
.section-theme{
  padding: 0 0 8.5rem 0;
}
.theme-section{
  padding: 0 3rem 3rem 3rem;
  box-sizing: border-box;
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
}
  /* Use reverse the position of the theme elements */
  .theme-section.reverse{
    flex-direction: row-reverse;
    text-align: right;
  }
  .theme-img{ flex: 0 1 35%; -ms-flex: 0 1 35%; }
    .theme-img img{ width: 100%; }
  .theme-text{
    flex: 0 1 65%;
    -ms-flex: 0 1 65%;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
  }
    .theme-text-position{ padding: 3.75rem; }



/* Section Price */
.section-price{
  padding: 10rem 0rem;
}
  .price-header{ width: 100%; }
  .price-header .big-title{
    padding: 0;
    margin: 0rem 0 1rem 0;
  }
    .price-header p{
      padding: 0;
      margin: 0rem 0 7.5rem 0;
    }
    .price-wrap{
      display: flex;
      display: -ms-flexbox;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: row;
    }
.section-price article{
  flex: 1 1 30%;
  margin: 1rem 1rem;
  padding: 0rem 1rem 2rem 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: all 0.2s ease;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  align-items: flex-start;
  background: white;
}
  .price-box:nth-child(1){ order: 1; }
  .price-box:nth-child(2){ order: 3; }
  .price-box:nth-child(3){ order: 2; transform: scale(1.1); }
  .price-box:hover{ box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .button-price{
    align-self: flex-end;
    width: 100%;
  }



/* Section Contact */
.section-contact{
  padding: 3.5rem 1rem;
  width: 100%;
  background: #00A99D;
  background: linear-gradient(to bottom, #00a99d 0%,#009b8e 100%);
  box-sizing: border-box;
}
.contact-body{
  margin: 3.5rem 0 0 0;
  background: white;
  display: flex;
  display: -ms-flexbox;
}
  .contact-s1{
    flex: 1 1 65%;
    -ms-flex: 1 1 65%;
    padding: 1.6rem;
    background: white;
  }
  .contact-s2{
    flex: 1 1 35%;
    -ms-flex: 1 1 35%;
    padding: 1.6rem;
    background: #079188;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-head .small-title,
  .contact-head .title,
  .contact-head .big-title{
    margin: 2rem 0 0 0;
    color: white;
  }
  .section-contact .small-paragraph{
    margin: 0 0 2rem 0;
    padding: 2rem 0;
    color: white;
  }
  .contact-info{ color: white; }
    .contact-info .small-title{ padding-bottom: 20px; }
    .contact-info p{
      font-size: 0.97rem;
      padding: 0 2.7rem;
      margin: 0rem 0rem;
    }
    .icon-home::before,
    .icon-phone::before{
      content: "";
      position: relative;
      top: 1.8rem;
      left: -2.6rem;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-position: center;
      background-size: cover;
    }
    .icon-home::before{ background-image: url("./img/contact/home.png"); }
    .icon-phone::before{ background-image: url("./img/contact/phone.png"); }
    .contact-icons img{
      margin-top: 7px;
      width: 1.5rem;
      margin-right: 1rem;
      float: left;
    }
    .contact-icons p{
      color: rgba(255, 255, 255, 0.7);
      float: left;
      font-size: 13px;
      letter-spacing: 1px;
    }

  /* Contact Form */
    .contact-form .fifty,
    .contact-form .fifty2{
      width: 50%;
      float: left;
      box-sizing: border-box;
    }
    .contact-form .fifty{ padding: 0 0 0.5rem 0; }
    .contact-form .fifty2{ padding: 0 0 0 0.5rem; }
    .contact-form .input,
    .contact-form .textarea{
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      border: 1px solid white;
      font-size: 1rem;
      border-bottom: 1px solid #565656;
    }
    .contact-form .input{ margin-bottom: 1rem; }
    .contact-form .textarea{
      height: 5rem;
      min-height: 3rem;
    }
    .contact-form .submit{
      position: relative;
      left: 100%;
      transform: translateX(-100%);
      margin: 0.5rem;
    }

/* Section footer */
.footer{ background: #009B8E; }
.footer .wrapper{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3rem 3rem;
  box-sizing: border-box;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
}
  .footer-logo{ height: 75px; }


@media screen and (max-width:1000px){

  /* Nav */
  .ham{ display: block; }
  .nav .menu{
    position: fixed;
    top: 5rem;
    left: 100%;
    margin: 0;
    width: 100%;
    height: calc(100% - 5rem);
    background: white;
    transition: 0.2s all ease;
  }
  .nav.active .menu{ left: 0 !important; }
  .menu.active{ left: 0 !important; }
  .nav .menu li{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
  }

  /* Themes */
  .theme-section{ flex-wrap: wrap; padding: 3rem 3rem 3rem 3rem; }
  .theme-section.reverse{ text-align: left; }
  .theme-img, .theme-text{ flex: 0 1 50%; -ms-flex: 0 1 50%; }
  .theme-text { align-items: flex-start; }
  .theme-text-position{ padding: 0rem 2rem; }

  /* Price */
  .section-price{ flex-wrap: wrap; }
  .price-wrap{ flex-wrap: wrap; }
  .section-price article{ flex: 0 0 270px; -ms-flex: 0 0 270px; }
  .price-box:nth-child(1){ order: 1; }
  .price-box:nth-child(2){ order: 2; }
  .price-box:nth-child(3){ order: 3; transform: scale(1);
  }

}

@media screen and (max-width:768px){
  /* Start */
  .start-title { font-size: 3.2rem; padding: 1rem; box-sizing: border-box;}
  .slogan { font-size: 1.5rem; padding: 1rem; }

  /* Themes */
  .theme-section{ flex-wrap: wrap; padding: 3rem 1rem; }
  .theme-text-position{ padding: 0rem; }
  .theme-img, .theme-text{ flex: 0 1 100%; -ms-flex: 0 1 100%; }

  /* Divider */
  .section-divider{ background-attachment: scroll; }

  /* Contact */
  .contact-body{ flex-wrap: wrap; }
  .contact-s1, .contact-s2{ flex: 1 1 100%; -ms-flex: 1 1 100%; }
  .contact-info .small-title { padding-bottom: 0; }
  .contact-icons{ margin-top: 2rem; }
}

/* ie 10+ fallback */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   .section-divider{
     background-attachment: scroll;
   }
}
